# misc files
*__pycache__/
*.egg-info
*.DS_Store
*.vscode

# Backend files
backend/.env
*.venv/
backend/agentic_system/tools/litl_data.csv

# Frontend build files
frontend/.next/
frontend/node_modules/
frontend/.env