# misc files
*__pycache__/
*.egg-info
*.DS_Store
*.vscode

# Backend files
backend/.env
*.venv/
backend/agentic_system/litl_data/litl_data.csv
backend/agentic_system/litl_data/eval_summarized_tool_results.pkl
backend/agentic_system/litl_data/summarized_tool_run_docs.pkl
# MLflow files
*/mlartifacts/
*mydb.sqlite



# Frontend build files
frontend/.next/
frontend/node_modules/
frontend/.env