# misc files
*__pycache__/
*.egg-info
*.DS_Store
*.vscode

# Backend files
backend/.env
*.venv/
backend/agentic_system/litl_data/litl_data.csv
backend/agentic_system/litl_data/0.no_litl_runs.pkl
backend/agentic_system/litl_data/1.no_litl_reflections.pkl
# MLflow files
*/mlartifacts/
*mydb.sqlite



# Frontend build files
frontend/.next/
frontend/node_modules/
frontend/.env